
  <body>

    <h1>At foo bar!</h1>
    <h2>
      <% let drinkName = name;
     let capitalized =drinkName.charAt(0).toUpperCase() + drinkName.slice(1);%> 
     <%=capitalized%>
    </h2>
    <img src="<%=image%>.jpg"/>
    <h3>
        Price: <%=price%>
    </h3>
    <a href="/drinks">Back</a>

  </body>
</html>