
  <body>
    <h1>At foo bar!</h1>
    <h2>
      <% let foodName = name;
     let capitalized =foodName.charAt(0).toUpperCase() + foodName.slice(1);%> 
     <%=capitalized%>
    </h2>
    <img src="<%=image%>.jpg"/>
    <h3>
        Price: <%=price%>
    </h3>
    <a href="/food">Back</a>

  </body>
</html>